* {
    font-family: 'Lato', sans-serif;
  }
   
   
  h1 {
    color: SeaGreen;
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
    
  }

  header {
    text-align: center;
    min-width: 500px; 
  }

  header img {
    border-radius: 50%;
    border-style: solid;
    border-color: darkslategray;
    width: 200px;
    height: 200px;
  }

  nav {
    background-color: darkslategray;
    color: white; 
    padding : 25px 0px; 
  }

  nav ul {
    text-align: center; 
  }

  nav a:visited {
    color: white;
  }

  nav ul li {
    display: inline;
    padding: 5px 15px; 
    border: 3px 3px 3px 3px;
    border-style: solid; 
    margin : auto 10px;
  }

  header h1 {
    text-align: center;
    font-weight: 400;
    margin: 50px 0;
  }

  main {
    margin: auto 470px;
    min-width: 500px; 
  }

  .axe {
    margin: 50px auto; 
  }

  main h1 {
    font-weight: 400;
  }

  aside {
    font-weight: 300;
    font-style: italic; 
  }

  .pièces_jointes {
    text-align: center;
    margin: 50px auto;
  }

  #pub_masque {
    width: 200px;
    height: 400px; 
  }

  .date {
    font-weight: 300;
  }

  footer {
    font-weight: 300;
    text-align: center;
  }

